/**
// ==========================================================================
//  MAIN CSS FILE [ HEADER ]
// ==========================================================================
**/


/* CSS FILE COMMENTS [ INLINE ] */

.wrapper{
    background-color: lightcyan;
    margin: 20px;
    padding: 10px;
    display: flex;

}
.main{
    background-color: lightgoldenrodyellow;
    padding: 15px;
    justify-content: flex-end;
}
.sidebar{
    background-color: lightgreen;
    border: 2px solid red;
    padding: 15px;
    justify-content: flex-start;

}






