/**
// ==========================================================================
//  MAIN CSS FILE [ HEADER ]
// ==========================================================================
**/


/* CSS FILE COMMENTS [ INLINE ] */

.wrapper{
    background-color: lightcyan;
    margin: 20px;
    padding: 10px;
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: row;

}
.main{
    background-color: lightgoldenrodyellow;
    padding: 15px;

}
.sidebar{
    background-color: lightgreen;
    border: 2px solid red;
    padding: 15px;

}






