/**
// ==========================================================================
//  MAIN CSS FILE [ HEADER ]
// ==========================================================================
**/


/* CSS FILE COMMENTS [ INLINE ] */
body {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}